backend/PDFversion/llama3webinterface.py
backend/PDFversion/pdffolder/PreprojetoPE.pdf
backend/HTMLversion/llama3htmlversion.py
backend/HTMLversion/html_files/_MG_2052.jpg.html
backend/HTMLversion/html_files/.html
backend/HTMLversion/html_files/&t=Serviços da Agecom.html
backend/HTMLversion/html_files/#busca.html
backend/HTMLversion/html_files/#conteudo.html
backend/HTMLversion/html_files/#dropmenu.html
backend/HTMLversion/html_files/#menu.html
backend/HTMLversion/html_files/#rodape.html
backend/HTMLversion/html_files/#s.html
backend/HTMLversion/html_files/8663291f-a4e9-4e25-a097-e92435e4d60e.html
backend/HTMLversion/html_files/acessibilidade.html
backend/HTMLversion/html_files/agecom.ufsc.br.html
backend/HTMLversion/html_files/ararangua.ufsc.br.html
backend/HTMLversion/html_files/atendimento.setic.ufsc.br.html
backend/HTMLversion/html_files/Biblioteca Universit__ria - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/blumenau.ufsc.br.html
backend/HTMLversion/html_files/Boitat__ - Foto Henrique Almeida-5.jpg.html
backend/HTMLversion/html_files/boletimoficial.ufsc.br.html
backend/HTMLversion/html_files/C__o-guia - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Campus 2015 - BU - Foto Henrique Almeida-7.jpg.html
backend/HTMLversion/html_files/Campus 2015 - BU - Foto Henrique Almeida-10.jpg.html
backend/HTMLversion/html_files/Campus Ararangua - Foto Jair Quint.jpg.html
backend/HTMLversion/html_files/Campus Blumenau - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Campus Curitibanos  - Foto Jair Quint.jpg.html
backend/HTMLversion/html_files/Campus Curitibanos - Foto Jair Quint.jpg.html
backend/HTMLversion/html_files/capg.sistemas.ufsc.br.html
backend/HTMLversion/html_files/catalogo.xhtml.html
backend/HTMLversion/html_files/CCE - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Centro de Conviv__ncia __ noite - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Centro de Conviv__ncia - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Centro Tecnol__gico - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/chamados.setic.ufsc.br.html
backend/HTMLversion/html_files/Conviv__ncia reflexo - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/coperve.ufsc.br.html
backend/HTMLversion/html_files/CTC - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/curitibanos.ufsc.br.html
backend/HTMLversion/html_files/DSC_0049.jpg.html
backend/HTMLversion/html_files/Entrada Trindade - Foto Henrique Almeida_001.jpg.html
backend/HTMLversion/html_files/Entrada Trindade - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/esqueciSenha.html
backend/HTMLversion/html_files/Fazenda da Ressacada - Foto __talo Padilha.jpg.html
backend/HTMLversion/html_files/feed.html
backend/HTMLversion/html_files/foto_4f2abe0a98d963.42124757_thmb.png.html
backend/HTMLversion/html_files/Gar__a no Campus Florian__polis - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Garapuvu - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/google-workspace-for-education.html
backend/HTMLversion/html_files/hu-ufsc.html
backend/HTMLversion/html_files/Inaugura____o do Campus no Perini Business Park - Foto Henrique Almeida-9.jpg.html
backend/HTMLversion/html_files/j_spring_cas_security_check.html
backend/HTMLversion/html_files/joinville.ufsc.br.html
backend/HTMLversion/html_files/logar.xhtml.html
backend/HTMLversion/html_files/mapa-do-site.html
backend/HTMLversion/html_files/MArque - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Monumentos UFSC - V__timas do Descobrimento - Foto Henrique Almeida-2.jpg.html
backend/HTMLversion/html_files/ndi.ufsc.br.html
backend/HTMLversion/html_files/noticias.ufsc.br.html
backend/HTMLversion/html_files/Nova pista de atletismo - Foto Henrique Almeida-9.jpg.html
backend/HTMLversion/html_files/NTg1.html
backend/HTMLversion/html_files/p%C3%A1gina-inicial.html
backend/HTMLversion/html_files/paginas.ufsc.br.html
backend/HTMLversion/html_files/pdi.ufsc.br.html
backend/HTMLversion/html_files/Pra__a da Cidadania - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/pRGHhck8JuDzC2Pc6.html
backend/HTMLversion/html_files/Reflexo na __gua Centro de Eventos - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Reitoria - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/Reitoria iluminada Outubro Rosa - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/secom.ufsc.br.html
backend/HTMLversion/html_files/setic.ufsc.br.html
backend/HTMLversion/html_files/storage.html
backend/HTMLversion/html_files/suporte.egestao.ufsc.br.html
backend/HTMLversion/html_files/Templo Ecum__nico  - Foto Henrique Almeida.jpg.html
backend/HTMLversion/html_files/ti.ufsc.br.html
backend/HTMLversion/html_files/tvufsc.html
backend/HTMLversion/html_files/UFSCoficial.html
backend/HTMLversion/html_files/ufscsustentavel.ufsc.br.html
backend/HTMLversion/html_files/UniversidadeUFSC.html
backend/HTMLversion/html_files/Vestibular 2017 - Foto Henrique Almeida-17.jpg.html
backend/HTMLversion/html_files/webmail.ufsc.br.html
backend/HTMLversion/html_files/www.setic.ufsc.br.html
backend/HTMLversion/html_files/www.setic.ufsc.br#busca.html
backend/HTMLversion/html_files/www.setic.ufsc.br#conteudo.html
backend/HTMLversion/html_files/www.setic.ufsc.br#dropmenu.html
backend/HTMLversion/html_files/www.setic.ufsc.br#menu.html
backend/HTMLversion/html_files/www.setic.ufsc.br#rodape.html
backend/projetoideias.txt
token
backend/csvctest.py
